In [2]:
l = [2,3,4,5,6,"Venkatesh",6.8,9,12.8,99]

In [3]:
2 in l

True

In [4]:
for i in l:
    print(i)

2
3
4
5
6
Venkatesh
6.8
9
12.8
99

In [5]:
for i in l:
    print(i.index())

AttributeError: 'int' object has no attribute 'index'

In [6]:
t = (2,3,4,5,6,"Venkatesh",6.8,9,12.8,99)

In [7]:
for i in t:
    print(i)

2
3
4
5
6
Venkatesh
6.8
9
12.8
99

In [8]:
s = {2,3,4,5,6,"Venkatesh",6.8,9,12.8,99,9,9,9,9}

In [9]:
s

{12.8, 2, 3, 4, 5, 6, 6.8, 9, 99, 'Venkatesh'}

In [10]:
s[0]

TypeError: 'set' object is not subscriptable

In [11]:
for i in s:
    print(i)

2
3
4
5
6
6.8
Venkatesh
9
99
12.8

In [12]:
d = {"name":"Abhiram", "Class":"sec-1", "year": 2, "Branch":"CSE"}

In [15]:
for i in d:
    print(i,":",d[i])

name : Abhiram
Class : sec-1
year : 2
Branch : CSE

In [14]:
d["name"]

'Abhiram'

In [16]:
range(9)

range(0, 9)

In [17]:
list(range(0,9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [18]:
list(range(0,9,2))

[0, 2, 4, 6, 8]

In [21]:
list(range(9,0,-2))

[9, 7, 5, 3, 1]

In [22]:
l

[2, 3, 4, 5, 6, 'Venkatesh', 6.8, 9, 12.8, 99]

In [25]:
for i in range(len(l)):
    print(i,":",l[i])

0 : 2
1 : 3
2 : 4
3 : 5
4 : 6
5 : Venkatesh
6 : 6.8
7 : 9
8 : 12.8
9 : 99

In [26]:
for i in range(9,0,-1): 
    print (i,":",l[i])

9 : 99
8 : 12.8
7 : 9
6 : 6.8
5 : Venkatesh
4 : 6
3 : 5
2 : 4
1 : 3

In [28]:
for i in range(10): 
    print(-i,":",l[-i])

0 : 2
-1 : 99
-2 : 12.8
-3 : 9
-4 : 6.8
-5 : Venkatesh
-6 : 6
-7 : 5
-8 : 4
-9 : 3

In [29]:
for i in range(9,0,-1): 
    print (i,":",l[i])

9 : 99
8 : 12.8
7 : 9
6 : 6.8
5 : Venkatesh
4 : 6
3 : 5
2 : 4
1 : 3

In [38]:
for i in range(len(l)-1,-1,-1): 
    print (i,":",l[i])

9 : 99
8 : 12.8
7 : 9
6 : 6.8
5 : Venkatesh
4 : 6
3 : 5
2 : 4
1 : 3
0 : 2

In [39]:
range(len(l)-1,-1,-1)

range(9, -1, -1)

In [40]:
l2 = list(input("Enter the value of list: "))

Enter the value of list: 3,4,5,6,7,8

In [8]:
l3 = int(input("Enter the value of list: "))
l4 = list(l3)
for i in range(len(l4)-1,-1,-1):
    if(i == " "):
        continue
    print(i,":",l4[i])

Enter the value of list: 34 465 78 90

ValueError: invalid literal for int() with base 10: '34 465 78 90'

In [1]:
l3 = input("Enter the value of list: ")
l4 = list(l3)
for i in l4:
    print(i)

Enter the value of list: 4 5 6 7 56 78 90 12

Enter the no.= 5
enter the string = Madhu
Madhu
Madhu Madhu
Madhu Madhu Madhu
Madhu Madhu Madhu Madhu
Madhu Madhu Madhu Madhu Madhu

In [14]:
n = int(input("Enter the no.: "))
name = input("Enter the name: ")
for i in range(n):
    for j in range(i+1):
        print(name," ", end = " ")
    print()

Enter the no.: 5
Enter the name: hii
hii
hii   hii
hii   hii   hii
hii   hii   hii   hii
hii   hii   hii   hii   hii

name = "shahzad"
s: 1
h: 2
a: 2
z: 1
d: 1

In [25]:
name = input("Enter the name: ")
name1 = set(name)

Enter the name: anand

In [26]:
name1

{'a', 'd', 'n'}

In [29]:
for i in name1:
    print(i,":",name.count(i))

d : 1
a : 2
n : 2

   Enter the no.: 3   
   enter the name: name
            name
       name name name
  name name name name name
       name name name
            name

In [ ]:
       enter the string:= 3
        enter the name: Madhu
        Madhu
    Madhu    Madhu
Madhu    Madhu    Madhu