In [1]:
s = {}

In [2]:
type(s)

dict

In [3]:
s = {1,2,3,4,5,6,7,"Manish"}

In [4]:
type(s)

set

In [5]:
d  = {"name":"Narayana", "class":"2nd year", "Branch":"CSE"}

In [6]:
type(d)

dict

In [7]:
d["name"]

'Narayana'

In [8]:
d["Branch"]

'CSE'

In [9]:
s

{1, 2, 3, 4, 5, 6, 7, 'Manish'}

In [10]:
s[0]

TypeError: 'set' object is not subscriptable

In [11]:
l = [1, 2, 3, 4, 5, 6, 7, 'Manish']

In [12]:
l[0]

1

In [13]:
t= (1, 2, 3, 4, 5, 6, 7, 'Manish')

In [14]:
t[2]

3

In [16]:
s = {1, 2, 3, 4, 5, 6, 7, 'Manish',2,3,3,3,3,3,7,7,7,8,9,9,9}

In [17]:
s

{1, 2, 3, 4, 5, 6, 7, 8, 9, 'Manish'}

In [19]:
s = {(1,2,3,4,5),6,7,8,"Narayana"}

In [20]:
s

{(1, 2, 3, 4, 5), 6, 7, 8, 'Narayana'}

In [21]:
s1 = {[1,2,3,4,5],6,7,8,"Narayana"}

TypeError: unhashable type: 'list'

In [22]:
s[]

{(1, 2, 3, 4, 5), 6, 7, 8, 'Narayana'}

In [31]:
s1 = list(s)

In [32]:
s1[0]

'Narayana'

In [33]:
s1

['Narayana', 6, 7, 8, (1, 2, 3, 4, 5)]

In [35]:
s1[4][3]

4

In [37]:
s3 = {'Narayana', 6, 7, 8, (1, 2, 3, 4, 5)}

In [38]:
s3.discard(7)

In [39]:
s3

{(1, 2, 3, 4, 5), 6, 8, 'Narayana'}

In [40]:
s3.remove(6)

In [41]:
s3

{(1, 2, 3, 4, 5), 8, 'Narayana'}

In [42]:
s3.remove(0)

KeyError: 0

In [43]:
s3.discard(0)

In [44]:
s4 = {2,3,4,5,6,7,8}

In [45]:
s3.intersection(s4)

{8}

In [46]:
s3.isdisjoint(s4)

False

In [47]:
s4 = {1,2,3,4}

In [48]:
s5 = {6,7,8,9}

In [49]:
s4.isdisjoint(s5)

True

In [50]:
s4.intersection(s5)

set()

In [51]:
s4.pop()

1

In [52]:
s5.pop()

8

In [53]:
s5[0]

TypeError: 'set' object is not subscriptable

In [55]:
a = 23
if a == 23:
    print(a)

IndentationError: expected an indented block (286410274.py, line 3)

In [60]:
a = 23
if a == 22:
    pass
else:
    print(a)

23

In [61]:
s3

{(1, 2, 3, 4, 5), 8, 'Narayana'}

In [63]:
if 9 in s3:
    print(s3)
else:
    print("Something")

Something

In [75]:
a = float(input())

5.88

In [76]:
type(a)

float

In [2]:
price = int(input("Enter the Price"))
if price<500 and price>400:
    print("we can buy a Tshirt")
elif price<400 and price>300 :
        print("we can buy a shirt")
if price>500:
    print("we can buy something else")

Enter the Price600
we can buy something else

In [9]:
marks=int(input("enter the marks"))
if marks <600 and marks >500:
    print("NO GRE")
elif marks <500 and marks >400:
    print("TOfel")
    if marks <300 :
        print("try something else")
else:
    print("Congratulations you got GRE")

enter the marks400
Congratulations you got GRE

In [3]:
marks=int(input("Enter marks"))
if marks>600:
    print("GRE")
elif marks<600 and marks>500:
    print("NO GRE")
elif marks<500 and marks>400:
    print("TOFEL")
elif marks<400 and marks>300:
    print ("ILETS")
elif marks<300:
    print("Try something else")

Enter marks400

In [2]:
marks = int(input("Enter marks: "))
if marks > 600:
    print("GRE")
elif marks <600 and marks >500:
    print("NO GRE")
elif marks <500 and marks >400:
    print("TOFEL")
elif marks <400 and marks >300:
    print("ICETS")
elif marks <300:
    print("Try Something Else")

Enter marks: 400

In [ ]:

marks=int(input("enter the marks"))
if marks <600 and marks >500:
    print("NOGRE")
elif marks <500 and marks >400:
    print("TOETS")
if marks <300 :
    print("try something else")

marks=int(input("enter the marks"))

if marks <600 and marks >500:
    print("NOGRE")
elif marks <500 and marks >400:
    
    print("TLETS")
if marks <400 and marks >300 :
    print("try something else")
else:
        print("congratulations yu got gre")

enter the marks550
NOGRE

In [4]:
marks = int(input("Enter marks: "))
if marks > 600:
    print("GRE")
elif marks <=600 and marks >500:
    print("NO GRE")
elif marks <=500 and marks >400:
    print("TOFEL")
elif marks <=400 and marks >300:
    print("ILETS")
elif marks <=300:
    print("Try Something Else")

Enter marks: 350
ICETS

##### 550

In [7]:
marks = int(input("enter the marks")) 
if marks>600 : 
    print("gre") 
elif marks<600 and marks>500 : 
    print("no gre") 
elif marks<500 and marks>400 : 
    print("to fel") 
elif marks<400 and marks>300 : 
    print("icets") 
elif marks<300 : 
    print("try somthing eles")

enter the marks560
no gre